.item {
    display: flex;
    margin: 0;
    gap: 20px;
    justify-content: space-between;
    width: 400px;
  }
  .information {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .name {
    font-size: 20px;
    margin: 0 0 15px 0;
  }
  .number {
    font-size: 20px;
    margin: 0 0px 15px 0;
  }
  .btn {
    background-color: #dae1e6;
    width: 50px;
    height: fit-content;
    border-width: 1px;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #8d9093;
    color: white;
    border: none;
  }